<a href="https://colab.research.google.com/github/PabloYepes27/DataScience/blob/main/Introduction_to_Data_Science_With_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![image.png]()
This is a copy of [Introduction to Data Science With Data Science.IA](https://www.kaggle.com/harunshimanto/introduction-to-data-science-with-data-science-ai) in order to study and practice


Useful `LINKS`:

&#128187; 1.  [Understanding European Soccer Video](https://www.youtube.com/watch?v=FZ4i3KX2CW4)

&#128187; 2. [European Soccer Database Research Paper](https://drive.google.com/open?id=1Zu58FMy9JJZMBf_7ZnioKwZGP73qYD-U)

&#128187; 3. [sqllite3 for Database](https://docs.python.org/3/library/sqlite3.html)

&#128187; 4. [Matplotlib  Visualization ](https://matplotlib.org/api/pyplot_api.html)

# &#128204; Getting Started

To get started, we will need to:

Download the data from: https://www.kaggle.com/hugomathien/soccer

Extract the zip file called "soccer.zip"

## &#128209; Import Libraries

We will start by importing the Python libraries we will be using in this analysis. These libraries include:

* sqllite3 for interacting with a local relational database; 

* pandas and numpy for data ingestion and manipulation.

* matplotlib for data visualization

* specific methods from sklearn for Machine Learning

In [10]:
import sqlite3
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import scale

* ## &#128268; Connection Database: ***datbase.sqlite***



![image.png]()

In [20]:
from google.colab import drive # How to connect to a database from google colab in google drive?

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [52]:
!ls /content/gdrive/MyDrive/Documents/Programming/'DATA SCIENCE'/'Colab Notebooks'/'Introduction to Data Science With Data Science.AI'/

 database.sqlite
 introduction-to-data-science-with-data-science-ai.ipynb
'Introduction to Data Science With Data Science.ipynb'

In [51]:
path = "/content/gdrive/MyDrive/Documents/Programming/DATA SCIENCE/Colab Notebooks/Introduction to Data Science With Data Science.AI/"
database = path + 'database.sqlite'
conn = sqlite3.connect(database)
tables = pd.read_sql("""SELECT * FROM sqlite_master WHERE type='table';""", conn) 

# What happened in this line?
# sqlite_master is an internal table that is present in all SQLite databases. 
# The content of this table describes the database's schema.
# The SQLite database holds the database schema in the table sqlite_master.

print("Connection Succesful", conn)
print(tables)

Connection Succesful <sqlite3.Connection object at 0x7f9879165730>
    type  ...                                                sql
0  table  ...             CREATE TABLE sqlite_sequence(name,seq)
1  table  ...  CREATE TABLE "Player_Attributes" (\n\t`id`\tIN...
2  table  ...  CREATE TABLE `Player` (\n\t`id`\tINTEGER PRIMA...
3  table  ...  CREATE TABLE `Match` (\n\t`id`\tINTEGER PRIMAR...
4  table  ...  CREATE TABLE `League` (\n\t`id`\tINTEGER PRIMA...
5  table  ...  CREATE TABLE `Country` (\n\t`id`\tINTEGER PRIM...
6  table  ...  CREATE TABLE "Team" (\n\t`id`\tINTEGER PRIMARY...
7  table  ...  CREATE TABLE `Team_Attributes` (\n\t`id`\tINTE...

[8 rows x 5 columns]

## &#128197; Load and Read the Data
Now, we will need to read the dataset using the commands below.

Note: Make sure Database connection before you run the data load and read code below.

df is a variable pointing to a pandas data frame. We will learn about them in an upcoming kernel.

In [53]:
df = pd.read_sql_query("SELECT * FROM Player_Attributes", conn) # Simple SQL query for display all from Player_Attributes table
df  # Show the dataframe df

            id  player_fifa_api_id  ...  gk_positioning gk_reflexes
0            1              218353  ...             8.0         8.0
1            2              218353  ...             8.0         8.0
2            3              218353  ...             8.0         8.0
3            4              218353  ...             7.0         7.0
4            5              218353  ...             7.0         7.0
...        ...                 ...  ...             ...         ...
183973  183974              102359  ...            20.0        20.0
183974  183975              102359  ...            20.0        20.0
183975  183976              102359  ...            20.0        20.0
183976  183977              102359  ...            20.0        20.0
183977  183978              102359  ...             7.0        15.0

[183978 rows x 42 columns]

## &#128221; Exploring Data
We will start our data exploration by generating simple statistics of the data. 

* Let us look at what the data columns are using a pandas attribute called "columns".

In [54]:
df.columns # shows The column labels of the DataFrame.

Index(['id', 'player_fifa_api_id', 'player_api_id', 'date', 'overall_rating',
       'potential', 'preferred_foot', 'attacking_work_rate',
       'defensive_work_rate', 'crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy',
       'long_passing', 'ball_control', 'acceleration', 'sprint_speed',
       'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina',
       'strength', 'long_shots', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning',
       'gk_reflexes'],
      dtype='object')

* Next will display simple statistics of our dataset. You need to run each cell to make sure you see the outputs.

In [56]:
df.describe().transpose()

# df.describe() = Generate descriptive statistics include those that summarize the central tendency, 
# dispersion and shape of a dataset’s distribution, excluding NaN values.

# df.transpose() = Reflect the DataFrame over its main diagonal by writing rows as columns and vice-versa.
# The property T is an accessor to the method

                       count           mean  ...        75%       max
id                  183978.0   91989.500000  ...  137983.75  183978.0
player_fifa_api_id  183978.0  165671.524291  ...  199848.00  234141.0
player_api_id       183978.0  135900.617324  ...  191080.00  750584.0
overall_rating      183142.0      68.600015  ...      73.00      94.0
potential           183142.0      73.460353  ...      78.00      97.0
crossing            183142.0      55.086883  ...      68.00      95.0
finishing           183142.0      49.921078  ...      65.00      97.0
heading_accuracy    183142.0      57.266023  ...      68.00      98.0
short_passing       183142.0      62.429672  ...      72.00      97.0
volleys             181265.0      49.468436  ...      64.00      93.0
dribbling           183142.0      59.175154  ...      72.00      97.0
curve               181265.0      52.965675  ...      67.00      94.0
free_kick_accuracy  183142.0      49.380950  ...      63.00      97.0
long_passing        183142.0      57.069880  ...      67.00      97.0
ball_control        183142.0      63.388879  ...      73.00      97.0
acceleration        183142.0      67.659357  ...      77.00      97.0
sprint_speed        183142.0      68.051244  ...      77.00      97.0
agility             181265.0      65.970910  ...      75.00      96.0
reactions           183142.0      66.103706  ...      72.00      96.0
balance             181265.0      65.189496  ...      74.00      96.0
shot_power          183142.0      61.808427  ...      73.00      97.0
jumping             181265.0      66.969045  ...      74.00      96.0
stamina             183142.0      67.038544  ...      76.00      96.0
strength            183142.0      67.424529  ...      76.00      96.0
long_shots          183142.0      53.339431  ...      67.00      96.0
aggression          183142.0      60.948046  ...      73.00      97.0
interceptions       183142.0      52.009271  ...      68.00      96.0
positioning         183142.0      55.786504  ...      69.00      96.0
vision              181265.0      57.873550  ...      69.00      97.0
penalties           183142.0      55.003986  ...      67.00      96.0
marking             183142.0      46.772242  ...      66.00      96.0
standing_tackle     183142.0      50.351257  ...      69.00      95.0
sliding_tackle      181265.0      48.001462  ...      67.00      95.0
gk_diving           183142.0      14.704393  ...      13.00      94.0
gk_handling         183142.0      16.063612  ...      15.00      93.0
gk_kicking          183142.0      20.998362  ...      15.00      97.0
gk_positioning      183142.0      16.132154  ...      15.00      96.0
gk_reflexes         183142.0      16.441439  ...      15.00      96.0

[38 rows x 8 columns]

## &#128295; Data Cleaning: Handling Missing Data:

Real data is never clean. We need to make sure we clean the data by converting or getting rid of null or missing values.
The next code cell will show you if any of the 183978 rows have null value in one of the 42 columns.

In [62]:
df.isnull().any().any(), df.shape 

# we executed all the commands next to each other,  the answer is given next to each other

# df.isnull() = (Detect missing values). Return a boolean same-sized object indicating if the values are NA. NA values, 
# such as None or numpy.NaN, gets mapped to True values. Everything else gets mapped to False values

# df.any() = (Return whether any element is True, potentially over an axis). 
# Returns False unless there at least one element within a series or along a Dataframe axis that is True or equivalent

# We use twice any().any() for col and rows

# df.shape = Return a tuple representing the dimensionality of the DataFrame.

(True, (183978, 42))

* Now let's try to find how many data points in each column are null.

In [67]:
df.isnull().sum(axis=0) 

# df.sum() - Return the sum of the values for the requested axis.

id                        0
player_fifa_api_id        0
player_api_id             0
date                      0
overall_rating          836
potential               836
preferred_foot          836
attacking_work_rate    3230
defensive_work_rate     836
crossing                836
finishing               836
heading_accuracy        836
short_passing           836
volleys                2713
dribbling               836
curve                  2713
free_kick_accuracy      836
long_passing            836
ball_control            836
acceleration            836
sprint_speed            836
agility                2713
reactions               836
balance                2713
shot_power              836
jumping                2713
stamina                 836
strength                836
long_shots              836
aggression              836
interceptions           836
positioning             836
vision                 2713
penalties               836
marking                 836
standing_tackle         836
sliding_tackle         2713
gk_diving               836
gk_handling             836
gk_kicking              836
gk_positioning          836
gk_reflexes             836
dtype: int64

## &#128223; Fixing Null Values by Deleting Them

* In our next two lines, we will drop the null values by going through each row.

In [71]:
rows = df.shape[0] # We want to know how many entries(rows) we have before delete the null ones
df = df.dropna() # df.dropna() = Remove missing values.

* Now if we check the null values and number of rows again, we will see that there are no null values and number of rows decreased accordingly.

In [72]:
print(rows)
df.isnull().any().any(), df.shape

183978

(False, (180354, 42))

* To find exactly how many lines we removed, we need to subtract the current number of rows in our data frame from the original number of rows.

In [75]:
rows - df.shape[1]  ## df.shape[0] = num_rows    df.shape[1] = num_columns

42

## &#128200; Predicting: 'overall_rating' of a player

In [76]:
df.isnull().sum()

id                     0
player_fifa_api_id     0
player_api_id          0
date                   0
overall_rating         0
potential              0
preferred_foot         0
attacking_work_rate    0
defensive_work_rate    0
crossing               0
finishing              0
heading_accuracy       0
short_passing          0
volleys                0
dribbling              0
curve                  0
free_kick_accuracy     0
long_passing           0
ball_control           0
acceleration           0
sprint_speed           0
agility                0
reactions              0
balance                0
shot_power             0
jumping                0
stamina                0
strength               0
long_shots             0
aggression             0
interceptions          0
positioning            0
vision                 0
penalties              0
marking                0
standing_tackle        0
sliding_tackle         0
gk_diving              0
gk_handling            0
gk_kicking             0
gk_positioning         0
gk_reflexes            0
dtype: int64

![](http://)* Now that our data cleaning step is reasonably complete and we can trust and understand the data more, we will start diving into the dataset further.

### Let's take a look at top few rows.
We will use the head function for data frames for this task. This gives us every column in every row.

In [77]:
df.head(10) 

# df.head(n) = Return the first n rows.

# This function returns the first n rows for the object based on position.
# It is useful for quickly testing if your object has the right type of data in it.

# For negative values of n, this function returns all rows except the last n rows, equivalent to df[:-n].

   id  player_fifa_api_id  ...  gk_positioning gk_reflexes
0   1              218353  ...             8.0         8.0
1   2              218353  ...             8.0         8.0
2   3              218353  ...             8.0         8.0
3   4              218353  ...             7.0         7.0
4   5              218353  ...             7.0         7.0
5   6              189615  ...             9.0        12.0
6   7              189615  ...             9.0        12.0
7   8              189615  ...             9.0        12.0
8   9              189615  ...             9.0        12.0
9  10              189615  ...             9.0        12.0

[10 rows x 42 columns]

* Most of the time, we are only interested in plotting some columns. In that case, we can use the pandas column selection option as follows. Please ignore the first column in the output of the one line code below. It is the unique identifier that acts as an index for the data.

**Note: From this point on, we will start referring to the columns as "features" in our description.**

In [78]:
df[:10][['penalties', 'overall_rating']]

# df[rows][columns] - Here we are specifying the first 10 rows and the columns labeled as "penalties" and "overall_rating"

   penalties  overall_rating
0       48.0            67.0
1       48.0            67.0
2       48.0            62.0
3       47.0            61.0
4       47.0            61.0
5       59.0            74.0
6       59.0            74.0
7       59.0            73.0
8       59.0            73.0
9       59.0            73.0

## &#128505; &#128503;  Feature Correlation Analysis

Next, we will check if 'penalties' is correlated to 'overall_rating'. We are using a similar selection operation, bu this time for all the rows and within the correlation function.


## &#128101; Are these correlated (using Pearson's correlation coefficient) ?

To understand better the [correlation](https://www.maximaformacion.es/blog-dat/que-es-la-correlacion-estadistica-y-como-interpretarla/)

In [79]:
df['overall_rating'].corr(df['penalties'])


# df.corr() = Compute pairwise correlation of columns, excluding NA/null values.

# Correlation coefficients r(X, Y) is a statistic that measures the degree that Y is a function of X and vice versa

# Pearson coefficient measures the degree of the relationship between linearly related variables

0.39271510791118824

#### &#128221; Observations:

We see that Pearson's Correlation Coefficient for these two columns is 0.39. 

Pearson goes from -1 to +1. A value of 0 would have told there is no correlation, so we shouldn’t bother looking at that attribute. A value of 0. shows some correlation, although it could be stronger. 

At least, we have these attributes which are slightly correlated.

Next, we will create a list of features that we would like to iterate the same operation on.

## &#128195; Create a list of potential Features that you want to measure correlation with

In [80]:
potentialFeatures  = ['acceleration', 'curve', 'free_kick_accuracy', 'ball_control', 'shot_power', 'stamina']

* The for loop below prints out the correlation coefficient of "overall_rating" of a player with each feature we added to the list as potential.

In [82]:
for feature in potentialFeatures:
  related = df['overall_rating'].corr(df[feature])
  print("%s: %f" % (feature, related))

acceleration: 0.243998
curve: 0.357566
free_kick_accuracy: 0.349800
ball_control: 0.443991
shot_power: 0.428053
stamina: 0.325606


## &#128285; Which features have the highest correlation with overall_rating?
* Looking at the values printed by the previous cell, we notice that the to two are "ball_control" (0.44) and "shot_power" (0.43). So these two features seem to have higher correlation with "overall_rating".

# &#128200; &#128201; &#128202; Data Visualization:


* Next we will start plotting the correlation coefficients of each feature with "overall_rating". We start by selecting the columns and creating a list with correlation coefficients, called "correlations".

### &#128223; Check length of Columns and Correlations

# &#128202; Graph or Ploting

## &#128681; Highlites:
We make sure that the number of selected features and the correlations calculated are the same, e.g., both 34 in this case. Next couple of cells show some lines of code that use pandas plaotting functions to create  graph of these correlation vealues and column names.

# &#128304; Clustering Players into Similar Groups
Until now, we used basic statistics and correlation coefficients to start forming an opinion, but can we do better? What if we took some features and start looking at each player using those features? Can we group similar players based on these features? Let's see how we can do this.

### &#128199; Note: 
Generally, someone with domain knowledge needs to define which features. We could have also selected some of the features with highest correlation with overall_rating. However, it does not guarantee best outcome always as we are not sure if the top five features are independent. For example, if 4 of the 5 features depend on the remaining 1 feature, taking all 5 does not give new information.

## &#128505; &#128503; Select Features on Which to Group Players

# &#128187; Perform KMeans Clustering


### &#128199; Note: 
Now we will use a machine learning method called KMeans to cluster the values (i.e., player features on gk_kicking, potential, marking, interceptions, and standing_tackle). We will ask for four clusters.

# &#128202; &#128201; &#128200; Visualization of Clusters

## &#128681; Highlites:
We now have 4 clusters based on the features we selected, we can treat them as profiles for similar groups of players. We can visualize these profiles by plotting the centers for each cluster, i.e., the average values for each featuere within the cluster.